@font-face {
    font-family: "lemon";
    src: url("LemonMilk.otf");}
body{
        background-image: url("img/404.jpg") !important;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "lemon";
        color: aliceblue;
}
.j_enter{
    margin-left: 570px;
    margin-top: 20px;
}
.style{    
    font-size: 80px;
    margin-top: 151px;
    margin-left: 500px;
}
.pstyle{
    margin-top: -25px;
    margin-left: 500px;
        color: #f58974;
}
@media screen and (max-width: 480px) {
    body{
        background-image: url(../img/404.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "lemon";
        color: aliceblue;
}
    .j_enter{
        margin-left: 60px;
        margin-top: 20px;
    }
    .style{
        font-size: 48px;
        margin-top: 243px;    
    }
    .pstyle{
        margin-top: -25px;
        margin-left: 0px;
            color: #f58974;
    }
}