@font-face {
    font-family: "lemon";
    src: url(../fonts/LemonMilk.otf);
}

.topNav {
    position: absolute;
    z-index: 2;
    width: 100%;
}

body {
    font-family: "lemon";
    height: 100vh;
    overflow: hidden;
}

.leaderBox {
    /*background: #000;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.pageheading{
    color: #f58974;
    margin-bottom: 20px;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.4);
    letter-spacing: 10px;
}
.transparentBox {
    height: 350px;
    width: 800px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow-y: scroll;
    padding: 5px 20px;
}

.transparentBox::-webkit-scrollbar {
    width: 8px;
}

.transparentBox::-webkit-scrollbar-thumb {
    width: 8px;
    background: #f58974;
}

.table-style tr {
    color: aliceblue;
}

.table-style td.pad {
    padding-right: 50px;
}

.table-score {
    font-size: 40px;
    color: #FAAD7E;
    padding: 10px 0px;
    width: 20px;
}

.table-score span {
    border-left: 2px solid rgba(162, 133, 133, 0.29) !important;
    padding-left: 20px;
}

td {
    border: none !important;
}

.table-name {
    font-size: 28px;
    color: #FAAD7E;
}

.table-id {
    font-size: 10px;
    /*    text-align: right;*/
}

.table-img img {
    width: 76px;
}

.table-style > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay_anime {
    position: absolute;
    z-index: -1;
}
.popover{
    background: rgba(0,0,0,0.5);
    border:none;
}
.popover img{
    width: 36px;
}
.popover.top>.arrow:after{
    border-top-color: rgba(0,0,0,0.3);
}
.popover.left>.arrow:after{
    border-left-color: rgba(0,0,0,0.3);
}
.popover.bottom>.arrow:after{
    border-bottom-color: rgba(0,0,0,0.3);
}
@media screen and (max-width: 768px) {
    .avatarBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: inline-block;
        padding-top: 10px;
    }
    .navbar-brand {
        display: inline-block;
    }
    .pageheading{
        margin: 0;
        margin-bottom: 10px;
        letter-spacing: 4px;
        font-size: 16px;
    }
    .overlay_anime {
        display: none;
    }
    table {
        border: none !important;
    }
    .table-score span {
        border-left: 2px solid rgba(162, 133, 133, 0.29) !important;
        padding-left: 10px;
    }
    .transparentBox {
        height: 270px;
        width: 100%;
        padding: 5px 10px;
    }
    .table-img img {
        width: 40px;
    }
    .table-name {
        font-size: 12px;
    }
    .table-style td.pad {
        padding-right: 0px;
    }
    .table-score {
        font-size: 14px;
    }
}