@font-face {
    font-family: "lemon";
    src: url("../fonts/LemonMilk.otf");
}

body {
    background-image: url("../img/Untitled-2.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: "lemon";
    color: #fff;
}

.j-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.setwidth img {
    width: 210px;
    height: 210px;
}

.flexCont .row.largegap {
    margin-bottom: 80px;
}

.flexCont .row.smallgap {
    margin-bottom: 10px;
}

.underline {
    border-bottom: 1px solid #fff;
    width: 180px;
    height: 10px;
}

@media screen and (max-width:600px) {
    .setwidth img {
        height: 66px !important;
        margin-bottom: 30px !important;
    }
}