/* font*/

.notif-error {
    color: rgb(244, 67, 54);
    border-color: rgb(244, 67, 54) !important;
}
.notif-correct {
    color: rgb(76, 175, 80);
    border-color: rgb(76, 175, 80) !important;
}
.notifBox .notif {
    text-align: left;
    padding-left: 10px;
    vertical-align: middle;
    background: transparent;
    border-left: 1px solid rgb(255, 255, 255);
}

