@font-face {
    font-family: lemon;
    src: url("../fonts/LemonMilk.otf");
}
body{
    background-image: url("../img/main_login.jpg");
    font-family: lemon;
}
.overlay_anime{
    position: absolute;
    z-index: -1;
}
.Pad_m li{
    font-size: 12px;
    line-height: 32px;
}
.box::-webkit-scrollbar {
    width: 8px;
}
.box::-webkit-scrollbar-thumb{
    width: 8px;
    background: #f58974;

}
@media screen and(max-width: 768px){
    .overlay_anime{
        display: none;
    }
    .table-score span{
    border-left: 2px solid rgba(162, 133, 133, 0.29) !important;
    padding-left: 10px;
}
    .Pad_m{
        margin-left: -20px !important;
    }
}