<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Tech-Trek</title>
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/circle.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->

    <!-- Bootstrap core CSS -->
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
    <!--fonts-->
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link href="/css/notif.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Dashboard.css">

</head>

<body>
    <nav class="navbar trekNav">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <img src="/img/Dropdown.png">
          </button>
          <span class="userName navbar-brand">yash's Dashboard</span>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right" aria-labelledby="dropdownMenu1">
              <li><a href="#">Rules</a></li>
              <li class="active"><a href="#">Dashboard</a></li>
              <li><a href="#">LeaderBoard</a></li>
              <li><a href="#">Forum</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div style="clear:both;"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h4 style="color: #f58974;margin-left: 10px;">Question</h4>
                <div class="ques">
                    <p>Loading Question ... Hold Your Horses !</p>
                </div>
                <div class="row">
                    <div class="ans col-md-8">
                        <input type="text" placeholder="I Seek an Answer ">
                    </div>
                    <div class="col-md-4 submit_btn">
                        <button>Check</button>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 notifBox">
                      <div class="notif notif-error hidden">
                          <strong>Really Starlord !</strong> That's What you thought ?.
                      </div>
                      <div class="notif notif-correct hidden">
                          <strong> My Dear Holmes ! </strong>You're Right.
                      </div>
                  </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-1">
                <div class=" levelIndicatorBox">
                    <div class="row">
                        <div class="col-xs-12 j-center">
                            <div id="circle-1" class="levelIndicator" data-circle-fontSize="35px" data-circle-size="155px" data-circle-dialWidth=14 data-circle-skin="white">
                                <div class="loader-bg">
                                    <div class="text">00:00:00</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="levelText">
                                <h1>Level <strong>5</strong></h1>
                                <hr>
                                <h1 style="margin-bottom: 15px;">Achievements</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row badgesBox">
                        <div class="col-xs-4 badges">
                            <img src="/img/Badge.png">
                            <p>Badge-1</p>
                        </div>
                        <div class="col-xs-4 badges">
                            <img src="/img/Badge.png">
                            <p>Badge-2</p>
                        </div>
                        <div class="col-xs-4 badges">
                            <img src="/img/Badge.png">
                            <p>Badge-3</p>
                        </div>
                        <div class="col-xs-4 badges">
                            <img src="/img/Badge.png">
                            <p>Badge-4</p>
                        </div>
                        <div class="col-xs-4 badges">
                            <img src="/img/Badge.png">
                            <p>Badge-5</p>
                        </div>
                        <div class="col-xs-4 badges">
                            <img src="/img/Badge.png">
                            <p>Badge-6</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="declaimer hidden">
        <p>DECLAIMER : The fastest to collect all the badges will win a cash prize
            <p>
    </div>
    <script type="text/javascript" src="/js/Dashboard.js"></script>
    <script src="/js/circle.js"></script>
</body>

</html>
