<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Tech-Trek | Congo!</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/avatar.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/rule.css" rel="stylesheet">
    <!--animation -->
    <link href="/css/animate.min.css" rel="stylesheet">
    <style>
    .force-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    #world {
        position: absolute;
    }
    
    .box {
        min-height: 350px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        width: 70%;
        background: rgba(0, 0, 0, 0.5);
    }
    
    .winnerbox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .winnerbox img {
        width: 150px;
    }
    
    @media screen and (max-width: 400px) {
        .box {
            width: 100%;
            /*height: 400px;*/
        }
        .box h1 {
            font-size: 20px;
        }
        .winnerbox img {
            width: 100px;
        }
    }
    </style>
</head>
<!--Body starts-->

<body>
    <canvas id="world"></canvas>
    <nav class="navbar trekNav">
        <div class="container-fluid">
            <!-- <div class="row">
                <div class="col-xs-2 col-sm-0">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <img src="/img/Dropdown.png">
                    </button>
                </div>
            </div> -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right" aria-labelledby="dropdownMenu1">
                    <li><a href="/leader">LeaderBoard</a></li>
                    <li><a href="https://www.facebook.com/nibblecomputersociety/" target="_blank">Forum</a></li>
                    <!-- <li onclick="mute()"><a>Music</a></li> -->
                    <li onclick="mute()">
                        <a><img style="margin: 0;height: 20px;width: auto;" src="/img/speaker.png" class="toggleAudio"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- winner contents starts here-->
    <div class="container">
        <h1 class="pageheading text-center">Congratulations!</h1>
        <div class="force-center">
            <div class="row overlay_anime hidden-xs">
                <div class="col-md-3 col-md-offset-9 animated slideInRight">
                    <img src="img/planets.png" class="img-responsive">
                </div>
                <div class="col-md-12 col-md-offset-0">
                    <img src="img/meteor.png" class="animated slideInLeft" style="margin-bottom:40px;">
                </div>
            </div>
            <div class="well box animated fadeIn">
                <div class="row">
                    <div class="winnerbox col-xs-4">
                        <h1 id = "win0">Name</h1>
                        <img src="/img/avatars/0.png" alt="" class="img-resposive">
                        <h1>First</h1>
                    </div>
                    <div class="winnerbox col-xs-4">
                        <h1 id = "win1">Name</h1>
                        <img src="/img/avatars/1.png" alt="" class="img-resposive">
                        <h1>Second</h1>
                    </div>
                    <div class="winnerbox col-xs-4">
                        <h1 id = "win2>Name</h1>
                        <img src="/img/avatars/2.png" alt="" class="img-resposive">
                        <h1>Third</h1>
                    </div>
                </div>
            </div>
            <h1 class="text-center animated infinite flash" style="color: #fff;">Hurray !!</h1>
            <!-- rule contents ends here-->
        </div>
    </div>
    <audio id="audio" autoplay="true" loop="true" src="/sounds/winner.mp3" type="audio/mpeg">
    </audio>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
        var i;
        $.get("/LeaderBoard", function(data) {
            userdata = data;
            //console.log(userdata[0].name);
            for(i=0;i<3;i++){
               var name = userdata[i].name
               console.log($("#win"+i));
              //$("#win"+i).val("something"); 
               // $(".avatarBox input").val(userdata.avatar);
            }
        });
        $("#audio")[0].load();
        $("#audio")[0].play();
        $("#audio")[0].volume = 0.6;
    });

    function mute() {
        if ($('#audio')[0].muted) {
            $('#audio')[0].muted = false;
            $(".toggleAudio").attr("src", "/img/speaker.png");
        } else {
            $('#audio')[0].muted = true;
            $(".toggleAudio").attr("src", "/img/mute.png");
        }
    }
    </script>
    <script src="/js/confetti.js"></script>
</body>

</html>
