<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Leaderboard | TechTrek</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/avatar.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <link href="/css/leaderboard.css" rel="stylesheet">
</head>
<!--Body starts-->

<body>
    <nav class="navbar trekNav">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <label class="avatarBox">
                        <input type="radio" name="selectAvatar" class="hidden">
                        <div class="avatar"></div>
                    </label>
                </div>
                <div class="col-xs-7 col-sm-9 col-sm-offset-1">
                    <div class="navbar-header">
                        <span class="userName navbar-brand"></span>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-0">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <img src="/img/Dropdown.png">
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right" aria-labelledby="dropdownMenu1">
                    <li><a href="/rules">Rules</a></li>
                    <li><a href="/">Dashboard</a></li>
                    <li class="active"><a href="/leader">LeaderBoard</a></li>
                    <li><a href="https://www.facebook.com/nibblecomputersociety/" target="_blank">Forum</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row overlay_anime">
            <div class="col-md-5 col-md-offset-12 animated slideInRight">
                <img src="img/planets.png" class="img-responsive">
            </div>
            <div class="col-md-12 col-md-offset-0">
                <img src="img/meteor.png" class="animated slideInLeft" style="margin-bottom:40px;">
            </div>
        </div>
        <div class="leaderBox animated fadeInUp">
            <h1 class="pageheading">Leaderboard</h1>
            <div class="transparentBox">
                <table class="table table-hover table-style table-responsive">
                    <tbody class="userList">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/leaderboard.js"></script>
</body>
</html>
