<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>LUCK | TechTrek</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="/css/luck.css">
</head>

<body>
    <div class="container flexCont">
        <div class="row smallgap">
            <div class="col-xs-12 j-center animated fadeIn ">
                <h1>3 LUCKY QUESTIONS</h1>
                <span class="underline"></span>
            </div>
        </div>
        <div class="row largegap">
            <div class=".col-xs-12 text-center animated fadeIn">
                <h5>Let's See where your luck takes you!</h5>
            </div>
        </div>
        <div class="row largegap hidden-xs">
            <div class="col-xs-12 col-sm-4 setwidth text-center animated fadeInUp">
                <a href='#'><img src="img/Jupiter.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4 setwidth text-center animated fadeInUp">
                <a href='#'><img src="img/Earth.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4 setwidth text-center animated fadeInUp">
                <a href='#'><img src="img/mars.png"></a>
            </div>
        </div>
        <div class="row mobile_S hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12 col-sm-4 setwidth text-center animated fadeInUp">
                <a href='#'><img src="img/Jupiter_m.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4 setwidth text-center animated fadeInUp">
                <a href='#'><img src="img/Earth_m.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4 setwidth text-center animated fadeInUp">
                <a href='#'><img src="img/Mars_m.png"></a>
            </div>
        </div>
        <div class="row">
            <div class=".col-xs-12 j-center animated fadeIn">
                <h3>Choose a planet </h3>
            </div>
        </div>
        <div>
            <div class=".col-xs-12 j-center animated fadeIn">
                <h5>The above planets will take you to the next random question!</h5>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/makeChoice.js"></script>

</body>

</html>
