<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Rules</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/avatar.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/rule.css" rel="stylesheet">
    <!--animation -->
    <link href="/css/animate.min.css" rel="stylesheet">
</head>
<!--Body starts-->

<body>
    <nav class="navbar trekNav">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <label class="avatarBox">
                        <input type="radio" name="selectAvatar" class="hidden">
                        <div class="avatar"></div>
                    </label>
                </div>
                <div class="col-xs-7 col-sm-9 col-sm-offset-1">
                    <div class="navbar-header">
                        <span class="userName navbar-brand"></span>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-0">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <img src="/img/Dropdown.png">
                    </button>
                </div>
            </div>
            <!-- <label class="avatarBox">
                <input type="radio" name="selectAvatar" class="hidden">
                <div class="avatar"></div>
            </label>
            <div class="navbar-header">
                <div class="row">
                    <div class="col-xs-10 col-sm-12">
                        <span class="userName navbar-brand"></span>
                    </div>
                    <div class="col-xs-2 col-sm-0">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <img src="/img/Dropdown.png">
                        </button>
                    </div>
                </div>
            </div> -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right" aria-labelledby="dropdownMenu1">
                    <li class="active"><a href="/rules">Rules</a></li>
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/leader">LeaderBoard</a></li>
                    <li><a href="https://www.facebook.com/nibblecomputersociety/" target="_blank">Forum</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- rules contents starts here-->
    <div class="container">
                <h1 class="pageheading text-center">Rules</h1>
        <div>
            <div class="row overlay_anime hidden-xs">
                <div class="col-md-3 col-md-offset-9 animated slideInRight">
                    <img src="img/planets.png" class="img-responsive">
                </div>
                <div class="col-md-12 col-md-offset-0">
                    <img src="img/meteor.png" class="animated slideInLeft" style="margin-bottom:40px;">
                </div>
            </div>
            <div class="well box animated fadeInUp">
                <ul class="Pad_m">
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur tempore, asperiores atque ullam unde non magni, labore quasi deserunt. Repellat reprehenderit aperiam placeat. Consequuntur repellat odit dolores perspiciatis nihil, culpa!</li>
                    <li>Nemo molestias consequatur necessitatibus doloremque ipsa id, laborum, eius tempora nulla explicabo fugit quam accusamus autem ipsam ea impedit eveniet inventore accusantium, beatae deleniti! Eos harum mollitia temporibus vitae quia.</li>
                    <li>Sed velit ex aut, placeat repudiandae, temporibus consectetur quaerat ut porro saepe ullam ipsum, natus quo impedit expedita. Dolorum eveniet unde, amet, aliquid provident aspernatur voluptates iste id cumque architecto?</li>
                    <li>Veritatis itaque sint aut consequatur nulla voluptatem, iste, sequi a et perspiciatis! Neque earum deserunt, qui temporibus labore ullam perspiciatis ea reprehenderit doloribus aliquam. Aliquid facere recusandae sit maxime adipisci.</li>
                    <li>Sed corrupti quidem odio placeat accusamus unde modi! Maxime molestiae voluptatibus est sapiente quam, quidem, explicabo, illum voluptate animi sed dolore omnis. Temporibus nulla officia aspernatur deleniti perferendis, quaerat quam.</li>
                </ul>
            </div>
            <!-- rule contents ends here-->
        </div>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
            $.get("/user", function(data) {
                userdata = data;
                $(".userName").html(userdata.name);
                $(".avatarBox input").val(userdata.avatar);
            });
        });
        </script>
</body>

</html>
