<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Tech-Trek | Congo!</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/avatar.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/rule.css" rel="stylesheet">
    <!--animation -->
    <link href="/css/animate.min.css" rel="stylesheet">
    <style>
    .force-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    #world {
        position: absolute;
    }
    
    .box {
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        width: 50%;
        background: rgba(0, 0, 0, 0.5);
    }
    
    @media screen and (max-width: 400px) {
        .box {
            width: 100%;
            height: 200px;
        }
        .box h1{
            font-size: 20px;
        }
    }
    </style>
</head>
<!--Body starts-->

<body>
    <canvas id="world"></canvas>
    <nav class="navbar trekNav">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <label class="avatarBox">
                        <input type="radio" name="selectAvatar" class="hidden">
                        <div class="avatar"></div>
                    </label>
                </div>
                <div class="col-xs-7 col-sm-9 col-sm-offset-1">
                    <div class="navbar-header">
                        <span class="userName navbar-brand"></span>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-0">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <img src="/img/Dropdown.png">
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right" aria-labelledby="dropdownMenu1">
                    <li><a href="/rules">Rules</a></li>
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/leader">LeaderBoard</a></li>
                    <li><a href="https://www.facebook.com/nibblecomputersociety/" target="_blank">Forum</a></li>
                    <!-- <li onclick="mute()"><a>Music</a></li> -->
                    <li><a href="/logout">Logout</a></li>
                    <li onclick="mute()"><a><img style="margin: 0;height: 20px;width: auto;" src="/img/speaker.png" class="toggleAudio"></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- winner contents starts here-->
    <div class="container">
        <h1 class="pageheading text-center">Congratulation mate!</h1>
        <div class="force-center">
            <div class="row overlay_anime hidden-xs">
                <div class="col-md-3 col-md-offset-9 animated slideInRight">
                    <img src="img/planets.png" class="img-responsive">
                </div>
                <div class="col-md-12 col-md-offset-0">
                    <img src="img/meteor.png" class="animated slideInLeft" style="margin-bottom:40px;">
                </div>
            </div>
            <div class="well box animated fadeIn">
                <h1 class="text-center animated bounceIn ">You have Successfully completed all the levels</h1>
                <!-- <p class="animated bounceIn">You have Successfully completed all the levels</p> -->
            </div>
            <h1 class="text-center animated infinite flash" style="color: #fff;">Hurray !!</h1>
            <!-- rule contents ends here-->
        </div>
        <audio id="audio" autoplay="true" loop="true" src="/sounds/winner.mp3" type="audio/mpeg">
        </audio>
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script>
        $(document).ready(function() {
            $.get("/user", function(data) {
                userdata = data;
                $(".userName").html(userdata.name);
                $(".avatarBox input").val(userdata.avatar);
            });
            $("#audio")[0].load();
            $("#audio")[0].play();
            $("#audio")[0].volume = 0.6;
        });
        function mute() {
            if ($('#audio')[0].muted) {
                $('#audio')[0].muted = false;
                $(".toggleAudio").attr("src","/img/speaker.png");
            } else {
                $('#audio')[0].muted = true;
                $(".toggleAudio").attr("src","/img/mute.png");
            }
        }
        </script>
        <script src="/js/confetti.js"></script>
</body>
</html>
